version: '3.8'

volumes:
  postgres_data:

networks:
  luigi-net:

x-airflow-common:
  &airflow-common
  image: apache/airflow:2.7.0
  environment:
    - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:postgres@db:5432/airflow
    - AIRFLOW__CORE__FERNET_KEY=FB0o_zt4e3Ziq3LdUUO7F2Z95cvFFx16hU8jTeR1ASM=
    - AIRFLOW__CORE__LOAD_EXAMPLES=False
    - AIRFLOW__CORE__LOGGING_LEVEL=INFO
    - AIRFLOW__CORE__HOME=/opt/airflow/
  volumes:
    - ./dags:/opt/airflow/dags
    - ~/airflow_data/logs:/opt/airflow/logs
    - ./config:/opt/airflow/config
    - ~/airflow_data/plugins:/opt/airflow/plugins
    - ~/airflow_data:/opt/airflow
    - ~/temp:/temp
    - ~/data:/data

services:

  db:
    image: postgres:13.1
    container_name: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=airflow
      - POSTGRES_PORT=5432
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - '~/postgres_data:/var/lib/postgresql/data/pgdata'
    ports:
      - 5432:5432

  airflow-init:
    <<: *airflow-common
    container_name: airflow_init
    entrypoint: /bin/bash
    command: -c "airflow db init && airflow users create --firstname airflow --lastname airflow --email airflow --password airflow --username airflow --role Admin"
    restart: on-failure
    depends_on:
      - db

  airflow-webserver:
    <<: *airflow-common
    command: airflow webserver
    ports:
      - 8080:8080
    container_name: airflow_webserver
    restart: always
    depends_on:
      - airflow-init

  airflow-scheduler:
    <<: *airflow-common
    command: airflow scheduler
    container_name: airflow_scheduler
    deploy:
      restart_policy:
        condition: on-failure
        delay: 8s
        max_attempts: 3
    depends_on:
      - airflow-init

  luigi:
    container_name: luigi_dispatcher
    image: elessarelfstone/luigid
    build:
      context: .
      dockerfile: Dockerfile.luigid
    ports:
      - "8082:8082"
    restart: always
    command: luigid
    networks:
      luigi-net:

  ftp_server:
    image: stilliard/pure-ftpd
    container_name: ftpd
    ports:
      - "21:21"
      - "30000-30009:30000-30009"
    volumes:
      - '~/ftp_volume:/ftp_data'
    environment:
      PUBLICHOST: "localhost"
      FTP_USER_NAME: ftpuser
      FTP_USER_PASS: ftpuser
      FTP_USER_HOME: /ftp_data
    restart: always

    networks:
      luigi-net: