attrs~=22.1.0
luigi~=3.4.0
openpyxl==3.0.10
rarfile~=4.1
numpy==1.25
pandas==1.5.2
PyYAML==6.0
beautifulsoup4==4.11.1
xmltodict~=0.13.0
urllib3>=1.26.13
requests~=2.31.0
python-dotenv~=1.0.0
xlrd
humanize~=4.9.0
lxml
google-cloud-bigquery[pandas]==2.34.3
google-cloud
google-auth
